/* Additional styles */

/*Additional code lines to original file:*/
body {
  font-family: "Open Sans";
  background-color: #FBFBFB;
}

/*.row{
  border: thin grey solid;
}
img, form, h1, h2, p{
  border: thin green solid;
}*/

h4 {
  font-size: 20px;
  line-height: 190%;
}
h2{
  font-size: 30px;
}
h1{
  font-size: 36px;
}
.form-group{
  margin: 0px;
  border: 0px;
}
.form{
  margin: 0px;
  border: 0px;
}
h3{
  font-weight: bold;
  font-size: 17px;
  color: #999999;
}
.list-unstyled li {
  margin-top: 10px;
  color: #777777;
}
.navbar-header{
  padding-left: 70px;
  color:#007EE5;
}
.navbar-default ul li a{
  color: #007EE5 !important;
  text-decoration: none
}
.navbar-brand{
  color: #007EE5 !important;
  text-decoration: none
}
.enblanco{
background-color:#FFFFFF;
}


.navbar-default{
  background-color:#FFFFFF;
}
.navbut{
  margin-left: 0px;
}
.espacio{
  padding-top: 40px;
}
.espacio2{
  padding-top: 120px;
}
.form-group{
  margin-top: 20px;
}
.col-md-10{
  padding-top: 50px;
}
.navbar-right{
  padding-right: 100px;
}
/* My standard vertical spacing classes */

.padding-inside-top-xs {
  padding-top: 10px;
}

.padding-inside-top-sm {
  padding-top: 20px;
}

.padding-inside-top-md {
  padding-top: 50px;
}

.padding-inside-top-lg {
  padding-top: 150px;
}

.padding-inside-top-xl {
  padding-top: 200px;
}

.padding-inside-bottom-xs {
  padding-bottom: 10px;
}

.padding-inside-bottom-sm {
  padding-bottom: 20px;
}

.padding-inside-bottom-md {
  padding-bottom: 50px;
}

.padding-inside-bottom-lg {
  padding-bottom: 150px;
}

.padding-inside-bottom-xl {
  padding-bottom: 200px;
}

.margin-above-top-xs {
  margin-top: 10px;
}

.margin-above-top-sm {
  margin-top: 20px;
}

.margin-above-top-md {
  margin-top: 50px;
}

.margin-above-top-lg {
  margin-top: 150px;
}

.margin-below-bottom-xs {
  margin-bottom: 10px;
}

.margin-below-bottom-sm {
  margin-bottom: 20px;
}

.margin-below-bottom-md {
  margin-bottom: 500px;
}

.margin-below-bottom-lg {
  margin-bottom: 150px;
}

.margin-below-bottom-xl {
  margin-bottom: 200px;
}
